@import url('http://fonts.googleapis.com/css2?family=Muli&display=swap');


.nechavotDemo{
    width: 100%;
    height: 100vh;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: flex;
    justify-content: center;
    top: 20px;
    position: relative;
    overflow: hidden;
    margin: 0;
}